*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  /*margin: 0;
  padding: 0;*/
}

/*------Позиционирование header----*/

.header-container {
  display: flex;
  border-bottom: 1px solid #ececec;
}
.nav-section {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
}
.nav-section-items {
  display: flex;
  padding: 32px 0;
}
.nav-section-li:not(:last-child) {
  margin-right: 50px;
}

.header-items {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-item-li:not(:last-child) {
  margin-right: 50px;
}

/*------Позиционирование Студии----*/

.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 700px;
  margin: 0 auto 30px auto;
}

.hero-button {
  width: 200px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.feature-container {
  display: flex;
  flex-direction: column;
  margin-top: 94px;
}

.feature-items {
  display: flex;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-item-title {
  margin-bottom: 10px;
}

/*.feature-item {
  width: calc(100% / 4);
}*/

.occupation-container {
  display: flex;
  flex-direction: column;
}

.occupation-title {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.occupation-items {
  display: flex;
  margin-bottom: 94px;
}
.occupation-li:not(:last-child) {
  margin-right: 30px;
}

.team-container {
  display: flex;
  flex-direction: column;
}
.team-title {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.team-items {
  display: flex;
  margin-bottom: 94px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-text {
  margin-bottom: 30px;
}
/*------Позиционирование Портфолио----*/

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
}

.project-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-item:nth-child(3n + 3) {
  margin-right: 0px;
}
.project-item:nth-child(n + 7) {
  margin-bottom: 0px;
}

.project-content {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project-title {
  /*text-align: start;*/
  margin: 0 24px 4px 24px;
}
.project-text {
  margin: 0 24px 0 24px;
}
/*------Позиционирование footer----*/

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: column;
}

.address-items {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.address-li-item:not(:last-child) {
  margin-bottom: 9px;
}
:root {
  --accent-color: #2196f3;
  --nav-text-color: #000000;
  --title-dark-gray-color: #212121;
  --text-gray-color: #757575;
  --white-color: #ffffff;
  --footer-white-color: #ffffff9a;
  --bg-light-color: #f5f4fa;
  --bg-dark-color: #2f303a;
  --project-bg-color: #eeeeee;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--title-dark-gray-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*---------header----------*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.header-logo {
  color: var(--nav-text-color);
}

.nav-section-item,
.header-item {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--nav-text-color);
}

.nav-section-item:hover,
.nav-section-item:focus,
.header-item:hover,
.header-item:focus,
.address-item:hover,
.address-item:focus,
.current {
  color: var(--accent-color);
}

.header-item {
  color: var(--text-gray-color);
}

/*-----------footer--------*/
.footer-block {
  background-color: var(--bg-dark-color);
}

.address-item {
  font-style: normal;
  line-height: 1.7;
  color: var(--footer-white-color);
}

.footer-logo,
.address-text {
  color: var(--white-color);
}
/*-------------main-Студия------------*/
.hero-section {
  background-color: var(--bg-dark-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
}

.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

/*-----------особенности--------------*/

.feature-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.7;
  color: var(--text-gray-color);
}

/*-----------чем мы занимаемся----------*/

.occupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
}

/*--------------Наша команда-------------*/

.team-section {
  background-color: var(--bg-light-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--thtitle-dark-grayird-color);
}

.team-item {
  background-color: var(--white-color);
}

.team-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-dark-gray-color);
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-gray-color);
  text-align: center;
}

/*------------Портфолио----------*/

/*----------Фильтры-------------*/

.filter-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-dark-gray-color);
  background-color: var(--bg-light-color);
}

.filter-button:hover,
.filter-button:focus,
.current-filter {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/*--------------Проекты----------*/

.project-item {
  background-color: var(--project-bg-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-dark-gray-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-gray-color);
}
